<p> Dear <%=@name%>, </p>
<p><strong>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</strong></p>
<p>You have a message from NotaryFLY.</p>
<p>To view the message please go to <a href="http://www.notaryfly.com" title="Notaryfly.com">NotaryFly</a> and log in with your username and password.</p>
<br/>
<p>Username : <%=@username%></p>
<p>Password : <%=@pass%></p>
<p>This information was provided by NotaryFly.com</p>