<p>You have a new message sent by a Notary Fly order regarding one of your orders. The message is below:</p>

<p>--</p>
<p><%= @message.body %></p>
<p>--</p>

<p>You can log in to reply, or view the message at: http://www.notaryfly.com</p>

Thanks!<br />
NotaryFly