<p style="margin-bottom:6px;"><strong>This message was sent from a notification-only email address that does not accept incoming email. Please do not reply to this message.</strong></p>
<%notary=Notary.find_by_user_id(@user.id)%>
<p style="margin-bottom:6px;">Dear <%= notary.first_name.capitalize %>  <%=notary.last_name.capitalize%>, </p>

<p style="margin-bottom:6px;">Welcome to NotaryFly!  We are pleased you have decided to join our community that is always at no cost for the Notary to sign up and to receive orders.</p>


<div style="float:left; width:100%;">
<ul style="padding:0px 20px;">
<li style="list-style-type:square;">You are now eligible to receive Orders from customers on NotaryFly</li>
<li style="list-style-type:square;">Each hiring company will rate you on each signing, so please note this when accepting and completing orders.</li>
<li style="list-style-type:square;">Visit NotaryFly University to receive immediate raise ($$$) per signing!</li>
</ul>
</div>

<div style="float:left; width:100%;">
<p style="margin-bottom:6px;">If you have any questions, feel free to contact us at <a href="mailto:Support@NotaryFly.com">Support@NotaryFly.com</a></p>
<br/><br/>
<p style="margin-bottom:6px;">Notaryfly</p>
</div>


