/*New Login Page*/
body{background-color:#fff;}
.nw-head{background-color:#252422;color:#fff;display:inline-block;padding: 15px 0;width:100%;}
.nw-container{overflow: hidden;width:980px;margin:auto;}
.nw-logo{width:40%;float:left;}
.nw-menu{width:60%;float:right;text-align:right;}
.nw-menu ul{list-style-type:none;margin: 30px 0;}
.nw-menu ul li{display:inline-block; margin: 0 5px;padding: 0 10px;}
.nw-menu ul li a{color:#fff;font-size: 16px;text-decoration:none;}
.nw-menu ul li a:hover{text-decoration:underline;}

.cnt-top{margin:15px auto;}
.nw-signup{box-sizing:border-box;float:left;padding: 30px 0;width:66.66%;}
.nw-login{border-left: 1px solid #cccccc;box-sizing:border-box;float:left;padding-left: 40px;width:33.33%;}

.nw-cmt-img {
    float: left;
    width: 35%;
}
.nw-signup-cnt {
    float: left;
    width: 65%;
}
.nw-signup-cnt > h6 {
    font-size: 16px;
    font-weight: normal;
    margin: 20px 0 5px;
}
.nw-signup-cnt h3 {
    font-size: 22px;
    font-weight: normal;
    margin: 15px 0 25px;
}
.nw-buts {
    margin: 15px 0;
}
.nw-buts > span {
    display:inline-block;margin-right: 15px;
}
.nw-buts > span > a {
    border-radius: 4px;
    color: #fff;display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.nw-buts > span.nw-notary > a {background-color:#6bb9e4;}
.nw-buts > span.nw-cust > a {background-color:#f94848;}

.nw-login > span {
    display: block;
    margin: 0 0 15px;
}
.nw-login > span > label {display:block;margin: 10px 0;}
.nw-input {
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 7px;
    width: 220px;
}
.nw-frgt-pass{font-size:12px;font-style:italic;margin-right: 30px;}
.nw-frgt-pass > a{color:#2994cf;}
.nw-button {
    background: #303030 none repeat scroll 0 0;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;text-transform:uppercase;font-size:14px;
    padding: 10px 20px;
}
.cnt-bot{background-color: #f5f5f5;margin:10px 0;}
.nw-cnt-three {
    float: left;
    margin: 40px 0;
    width: 33.33%;
}
.nw-cnt-three > h6 {
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0;
}

.nw-cnt-three > ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.nw-cnt-three > ul > li {background-image: url("../images/list-bullet.png");background-repeat:no-repeat;background-position:left center;
    line-height: 24px;
    padding-left: 20px;
}
.nw-srch .nw-button{padding:10px;}
.nw-social {
    margin: 15px 3px;
}
.nw-social > span {
    margin-right: 8px;
}
.nw-footer {
    font-size: 12px;
    margin: 15px auto;
}

.nw-footer a{margin: 0 5px;text-decoration:none;color:#000;}
.nw-lft-cnt {
    float: left;
    width: 80%;
}
.nw-rgt-cnt {
    float: right;
    text-align: right;
    width: 20%;
}
.nw-input:focus{box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);}
.nw-button:hover,.nw-buts > span > a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
