<div id="tabs5" class="default-tabs" style="display:<%= params[:tab] == "tabs5" ? 'block' : 'none' %>">
  <table width="100%" border="0" cellspacing="10" cellpadding="10">
    <tr class="light-green">
      <td>NF#</td>
      <td>SIGNER</td>
      <td>ORDER OPENED</td>
      <td>APPOINTMENT SCHEDULED</td>
      <td>SIGNING LOCATION</td>
      <td>CLIENT NAME</td>
      <td>DOCS?</td>
    </tr>
    <% @attention_orders.each do |order| %>
      <tr class='<%= order_status_class(order) %>'>
        <%= admin_order_table_data(order, 'tabs5') %>
      </tr>
    <% end %>
    <% if @attention_orders.blank? %>
      <tr class="light-green">
        <td colspan='7' style="text-align: center">You currently have no open orders.</td>
      </tr>
    <% end %>
  </table>
</div>
