<div id="tabs1" class="default-tabs" style="display:<%= params[:tab] && params[:tab] != "tabs1" ? 'none' : 'block' %>">
  <table width="100%" border="0" cellspacing="10" cellpadding="10">
    <tr class="dark-light-green">
      <td>NF#</td>
      <td>SIGNER</td>
      <td>ORDER OPENED</td>
      <td>APPOINTMENT SCHEDULED</td>
      <td>SIGNING LOCATION</td>
      <td>Customer</td>
      <td>DOCS?</td>
    </tr>
    <% @history_paid_orders.each do |order| %>
      <tr class='light-red'>
        <%= admin_order_table_data_order_history(order, 'tabs1') %>
      </tr>
    <% end %>
    <% if @history_paid_orders.blank? %>
      <tr class="dark-light-green">
        <td colspan='7' style="text-align: center">You currently have no open orders.</td>
      </tr>
    <% end %>
  </table>
</div>
