<div id="tabs2" class="default-tabs" style="display:<%= params[:tab] == "tabs2" ? 'block' : 'none' %>">
  <table width="100%" border="0" cellspacing="10" cellpadding="10">
    <tr class="light-red">
      <td>NF#</td>
      <td>SIGNER</td>
      <td>ORDER OPENED</td>
      <td>APPOINTMENT SCHEDULED</td>
      <td>SIGNING LOCATION</td>
      <td>CLIENT NAME</td>
      <td>DOCS?</td>
    </tr>
    <% @history_cancelled_orders.each do |order| %>
      <tr class='light-red'>
        <%= admin_order_table_data_order_history(order, 'tabs2') %>
      </tr>
    <% end %>
    <% if @history_cancelled_orders.blank? %>
      <tr class="light-red">
        <td colspan='7' style="text-align: center">You currently have no open orders.</td>
      </tr>
    <% end %>
  </table>
</div>
