# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random, 
# no regular words or you'll be exposed to dictionary attacks.
ActionController::Base.cookie_verifier_secret = 'ae987b946964ccaae776dd0c215a631fa00a18f2bc3e7dfd2c5087a63f219e6fe35799692ed6e125d3d18039729ffab2ff0e772184d557c573cf0cd7ded24ada';
