<div id="client_footer" class="span-24 last">
	<ul class="inline_list footer">
		<li><a href="/client/orders">Home</a></li>
		<li><%= link_to "Contact Us", "mailto:support@notaryfly.com"  %></li>
		<li><%= link_to "Logout", :controller => "/sessions", :action => "destroy" %></li>
		<li><a href="/home/faqs">FAQ</a></li>
                <li><a href="/home/disclaimer">Disclaimer</a></li>
	</ul>
</div>