<div class="span-11 last client_navigation">
	<ul class="inline_list">
		<li><%= link_to "My Orders", :action => "open_orders" %></li>
		<li><%= link_to "My Profile", :action => "contact_information" %></li>
		<li><%= link_to "Support", :action => "add_broker" %></li>
		<li><%= link_to "Log Out", :controller => "sessions", :action => "destroy" %></li>
	</ul>	
</div>


