<script></script>
<%=javascript_include_tag "jquery.media"%>
<%= render :partial => "/notary/header" %>
<%= render :partial => "navigation" %>


<div id="content_container" class="content_container span-24 last">
<div id="contact_information" class="span-18 last" style="border:none">


    <div class="xsnazzy">
      <b class="xtop"><b class="xb1"></b><b class="xb2 color_a">
        </b><b class="xb3 color_a"></b><b class="xb4 color_a"></b></b>
      <div class="xboxcontent" style="padding:10px;">

   <div style="margin:auto auto 10px auto; width:320px;">
			<h1 style="text-decoration:underline; width:100%; text-align:center;border:none; font-weight:bold; font-size:21px; margin-bottom:10px;color:#000;">Loan Signing 101 Test</h1>

<embed width="320" height="250" autoplay="false" loop="false" controller="true" pluginspage="http://www.apple.com/quicktime/download" src="/Doc_Signing_Presentation.wmv">
<!--			
<embed width="320" height="250" autoplay="true" loop="false" controller="true" pluginspage="http://www.apple.com/quicktime/download" src="/02-April-2013-Civil Map-Tyrel call.wmv"> -->

<!--
<video width="320" height="240" controls>
  <source src="/videos/Doc_Signing_Presentation.mov" type="video/quicktime">

  Your browser does not support the video tag.
</video>

<OBJECT CLASSID="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" WIDTH="320" HEIGHT="180"
CODEBASE="http://www.apple.com/qtactivex/qtplugin.cab">
<PARAM name="SRC" VALUE="/Doc_Signing_Presentation.mov">
<PARAM name="AUTOPLAY" VALUE="true">
<PARAM name="CONTROLLER" VALUE="true">
<EMBED SRC="/Doc_Signing_Presentation.mov" WIDTH="320" HEIGHT="180"
AUTOPLAY="true"
CONTROLLER="true"
PLUGINSPAGE="http://www.apple.com/quicktime/">
</EMBED>
</OBJECT> -->
<!--
  <object type="video/quicktime" data="/Doc_Signing_Presentation.mov" width="320" height="250">
    <param name="controller" value="true" >
    <param name="autoplay" value="true">
   alt : <a href="/Doc_Signing_Presentation.mov">Doc_Signing_Presentation.mov</a>
  </object>
</object>

<object type="video/quicktime" data="/02-April-2013-Civil Map-Tyrel call.wmv" width="320" height="250">
    <param name="controller" value="true" >
    <param name="autoplay" value="true">
   alt : <a href="/02-April-2013-Civil Map-Tyrel call.wmv">Doc_Signing_Presentation.mov</a>
  </object>
</object> -->

			</div>





 <div style="margin:auto auto 10px auto; width:600px;">
						<h1 style="text-decoration:underline; width:100%; border:none; font-weight:bold;text-align:center;margin-bottom:10px; font-size:16px; color:#000;">Loan Signing 101</h1>
			




 <div style="margin:auto auto 10px auto; width:560px; border:1px solid #000; background:#fff; height:250px;">
<p style="padding:5px;">Iframe for test </p>
			  
</div>






</div>




        </div>
        <b class="xbottom"><b class="xb4"></b><b class="xb3"></b>
          <b class="xb2"></b><b class="xb1"></b></b>
      </div>
</div>

     
</div>

